
body {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20vw;
}

h1 {
    text-transform: uppercase;
}

.tictactoebutton {
    overflow: hidden;
    padding: 50px 50px 50px 50px;
    margin-bottom: 4px;
    font-size: 0;
    background-color: white;
}

.playerOneColor {
    background-color: darkorange;
}

.playerTwoColor {
    background-color: deepskyblue;
}

section {
    margin-bottom: 1vw;
}

.indent {
    margin-top: 1vw;
    margin-left: 5vw;
}


.emailValid {
    border: 2px solid red;
}

.emailInvalid {
    border: 2px solid green;
}