
body {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20vw;
}

h1 {
    text-transform: uppercase;
}

.tictactoebutton {
    padding: 50px 50px 50px 50px;
    margin-bottom: 4px;
    background-color: white;
}

.emailOneColor, .emailThreeColor {
/*background-color: darkorange;*/
    background-image: url("../iconTwo.png");
}

.emailTwoColor {
    /*background-color: deepskyblue;*/
    background-image: url("../iconOne.png");
}

.KI1Color {
    background-image: url("../iconKI1.png");
}

.KI2Color {
    background-image: url("../iconKI2.png");
}

/*i know super ugly*/

section {
    margin-bottom: 1vw;
}

.indent {
    margin-top: 1vw;
    margin-left: 5vw;
}


.emailValid {
    border: 2px solid red;

}

.emailInvalid {
    border: 2px solid green;
}

