
body {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20vw;
}

h1 {
    text-transform: uppercase;
}

.tictactoebutton {
    padding: 50px 50px 50px 50px;
    margin-bottom: 4px;
    background-color: white;
}

.emailOneColor, .emailThreeColor {
    background-color: darkorange;
}

.emailTwoColor {
    background-color: deepskyblue;
}

/*i know super ugly*/

.emailOneColor, .emailTwoColor, .emailThreeColor {
    padding: 42px 42px 42px 42px;
}

section {
    margin-bottom: 1vw;
}

.indent {
    margin-top: 1vw;
    margin-left: 5vw;
}


.emailValid {
    border: 2px solid red;

}

.emailInvalid {
    border: 2px solid green;
}

