
<script src='view\View.js'></script>
<script src="controller\MainController.js"></script>

<h1>Tic Tac Toe</h1>
<section id="TicTacToe" onload="onloadEvent()">
    <script src='view\TicTacToeButtons.js'></script>
</section>

<section>
    <input type="radio" id="pvp" name="gameMode" value="pvp">
    <label for="pvp">Mensch vs Mensch</label>
    <div class="indent">
        <input onload="checkEmail()" id="playerOne" name="emailOne" placeholder="i@am.batman"><br>
        <input onload="checkEmail()" id="playerTwo" name="emailTwo" placeholder="i@ilke.trains">
    </div>
</section>
<section>
    <input type="radio" id="pvm" name="gameMode" value="pvm">
    <label for="pvm">Mensch vs Maschine</label>
    <div class="indent">
        <input onload="checkEmail()" name="emailOne" placeholder="why@so.serious">
    </div>
</section>
<section>
    <input type="radio" id="mvm" name="gameMode" value="mvm">
    <label for="mvm">Maschine vs Maschine</label>
</section>
<section>
    <button onclick="location.reload()" type="button">Reset</button>
    <button type="button">Submit</button>
</section>
<label id="winner"></label>