
<!--
**
 * Created by PhpStorm.
 * User: vmadmin
 * Date: 26.10.2017
 * Time: 15:02
 */
-->

<div class="row col-md-8 col-md-offset-2 registeration">
    <!--Sign Up-->
	<div class="registerInner">
        <div class="col-md-6 signUp">
            <h3 class="headerSign">Sign Up</h3>
            <form action="/register" method="post">


                <div class="form-group">
                    <input class="form-control" name="username" id="username_login" placeholder="USERNAME">
                </div>


                <div class="form-group">
                    <input class="form-control" type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="YOUR EMAIL">
                </div>

                <div class="form-group ">
                    <input class="form-control" type="password" name="password" id="password_login" value="" placeholder="PASSWORD">
                </div>


                <button class=" signbuttons btn btn-primary">Sign Up</button>

            </form>
        </div>


        <!--Sign In-->
        <div class ="col-md-6">
            <h3 class="headerSign">Sign In</h3>
            <form action="/login" method="post">

                <div class="form-group">
                    <input class="form-control" name="username" id="username_register" placeholder="USERNAME">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" id="password_register" placeholder="PASSWORD" value="">
                </div>

                <button class="signbuttons btn btn-primary">Sign In</button>

            </form>
        </div>

</div>

</div>
