
body {
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20vw;
}

h1 {
    text-transform: uppercase;
}

.tictactoebutton {
    padding: 50px 50px 50px 50px;
    margin-bottom: 4px;
    background-color: white;
}

.indent {
    margin-top: 1vw;
    margin-left: 5vw;
}
