
body {
    font-family: 'Titillium Web', sans-serif;
}

.content {
    margin-left: 20vw;
    width: 60vw;

}

.searchBar {
    margin-top: 0.5em;
    margin-left: 15vw;
    padding-right: 40vw;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.postBox
{
    padding: 5vw 5vw 5vw 5vw;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 2vw;
    background-color: ghostwhite;
}

.userBox {
    padding: 2.5vw 5.25vw 2.5vw 5.25vw;
    float: left;
    background-color: ghostwhite;
    margin: 1vw 1vw 1vw 1vw;
    box-shadow: 10px 10px 5px grey;
}